## The full URI to connect to your lightning node.
LND_HOSTNAME=protocol://hostname:port
## The hex-encoded admin macaroon for your lightning node.
LND_MACAROON=hex_encoded_admin_macaroon
## A random 32-byte hex-encoded key (for encrypting session data).
SESSION_KEY=32_byte_hex_encoded_random_key

BASE_FEE=25000        ## The base fee (in sats) to charge for a channel.
RATE_FEE=1            ## The percentage fee (channel size * rate fee) to charge.
MIN_RESERVE=50000     ## The minimum reserve balance to keep on-chain.
MAX_CHANSIZE=1000000  ## The absolute max channel size allowed.